* {
    box-sizing: border-box;
}

/* ----- Page ----- */
html {
    height: 100%;
}

form {
    padding-top: 1em;
}

body {
    /* background-color: #caccff; */
    height: inherit;
    font-family: monospace;
}

header {
    padding-top: 4rem;
    color: #3A3B4D;
    text-align: center;
}

/* ----- About Us ----- */
.page p {
    color: #666666;
}

#lastcard {
    background-color: #DBF0EB;
}

#aboutusheader {
    color:black;
    text-align: left;
    size:5vw;
}

#aboutus {
    margin-top:3em;
}

#aboutus img {
    object-fit: cover;
    border-radius: 0%;
}
.aboutus{
    font-size: 5rem;
}

.card-body{
    background-color: #e6f2f2;
    text-align: center;
    box-shadow: 0 8px 40px rgb(49 78 46 / 15%);
}

/* Choose journal */
/* #lastimage {
    background-color: #DBF0EB;
    width:20%;
    height:20%;
    align-self: center;
    margin: 7em;
    color: #DBF0EB;
} */

#choose {
    margin-top: 3em;
    margin-bottom:2em;
}

.chooseImg{
    width:100%;
    border-radius: 0%;
    background-color: #DBF0EB;
    border: none;
    margin-bottom: 0;
}

.saveImg{
    width:100%;
    border-radius: 0%;
    background-color: #DBF0EB;
    border: none;
    margin-bottom: 0;
}

.rename{
    width:100%;
    border-radius: 0%;
    background-color: #DBF0EB;
    border: none;
    margin-bottom: 0;
}

#chosen{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius:0%;
    height: 100%;
    object-fit: cover;
}

.cardTextTitle{
    height:100px;
}

/* EntryDetail Page */

.entryDetail {
    background-color: #f4f4f4;
    width: 100%;
}

/* NavLink{
    text-decoration: none;
} */

.lastCard{
    color: #333;
    border: none;
    font-size: 2rem;
    border-radius: 1rem;
    width:100%;
    background-color: inherit;
    padding: 0.5rem;
    outline: none;
    height: 3.5rem;
    text-align: center;
    object-fit: cover;
 } 

#chosen {
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    height: inherit;
    object-fit: cover;
}

.loggingin{
    background-color: white;
    border: none;
}
/* .choose{
    color: #B99FFF;
} */

/*-----Stats Page-----*/

.border img {
    transition: .5s ease;
    padding: .5rem;
}

.border img:hover{
    box-shadow: 0 0 0 .5rem rgb(84, 11, 84);
    transition: .5s ease;
}

#stats{

    margin:3rem;
    padding: 1rem;
}

/*-----Landing Page-----*/

img {
    border-radius: 2%;
    max-width: 100%;
    height: auto;
}

.highlight {
    background-color: #fcf8cc;
}

.noDisplay {
    display:none;
}

#homecardpic img {
    height: 10vw;
    object-fit: cover;
    padding-top: 5rem;
}

.app-title {
    font-size: 4rem;
    margin: 5rem 0 0;
    font-weight: bold;
    padding-bottom: 1rem;
    color:#7D45DA;
}

.app-desc {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color:#333;
}

.app-q {
    font-weight: normal;
    color:#333;
}

.hero-image {
    padding-right: 7rem;
    padding-top: 5rem;
    height: 100%;   
    width: auto;
}

.hero-desc {
    padding: 5rem;
    z-index: -2;
}

.the-thing-covering-nav {
    z-index: -20;
}

.card-title {
    font-size: 2rem;
    padding-top: 1rem;
    /* color: #fff; */
}

.entry-card {
    background-color: #37364C;
    text-align: center;
    box-shadow: 0 8px 40px rgb(49 78 46 / 15%);
    border-radius: 1%;
}

.homeTitle {
    height: 5rem;
    color: #fff;
}

.badge {
    border: 1px solid #fff;
    margin: 0.3rem;
}

.dark {
    border: 1px solid #000;
    margin: 0.3rem;
}

.homeDate {
    color: #fff;
}

footer {
    padding: 2rem;
    width: 100%;
    margin-bottom: 0;
}

/* ----- Diary Page ----- */
.diaryPage {
    display: flex;
    margin: 0;
    flex-direction: column;
    height: 100vh;
}

.all {
    display: flex;
    /* height: 100%; */
}

.page-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #E0DAEF;
    padding: 2em;
    font-family: "Inter", sans-serif, serif;
    width: 100vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* TODO: javascript, if text content exceeds textbox then increase text box size. With css, add vertical scroll bar */

/* -- Page Side Scrollbar */
.page-column::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.page-column::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}
.page-column::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}
.page-column::-webkit-scrollbar-thumb:hover {
    background: gray;
}

table {
    font-family: "Inter", sans-serif, serif;
}

/* -- Exit Icon -- */
.exit-icon {
    font-size: 35px;
    size: 1rem;
    transition: transform .3s ease-in-out;
    color: #666666;
}

.button-box {
    display: flex;
    margin-bottom: 1rem;
}

.exit-icon:hover{
    transform: rotate(-90deg);
    color: #3A3B4D;
}

/* -- Journal Details -- */
.titleTextboxContainer {
    width: 100%;
}

.titleTextBoxAdjustSize {
    width: 60rem;
}

.title {
    border: none;
    font-size: 30px;
    border-radius: 1rem;
    background-color: inherit;
    padding: 0rem 0.5rem;
    outline: none;
    height: 45px;
    color: gray;
    width: 100%;
}

.textbox:hover {
    background: #cacadf;
    transition: 0.2s ease-in;
}

.journalDate {
    font-size: 20px;
    padding: 0rem 0.5rem;
    border-radius: 1rem;
    width: 10rem;
    text-align: center;
    border: none;
    background-color: inherit;
    outline: none;
    height: 45px;
    color: gray;
    resize: none;
}

.journalText {
    margin: 0.2rem 0rem;
    font-size: 17px;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: inherit;
    outline: none;
    color: black;
    width: 100%;
    resize: none;
}

.journalText::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.journalText::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}
.journalText::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}
.journalText::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.journalText::placeholder {
    color: black;
}

.btn-for-submit-diary {
    font-family: "Inter", sans-serif, serif;
    font-weight: 400;
    color: inherit;
    border: none;
    border-radius: 0.7em;
    background-color: inherit;
    padding: 0.3em 0.5em;
}
    
.btn-for-submit-diary:hover {
    background-color: #3A3B4D;
    opacity: 75%;
    color: white;
    border-radius: 0.7em;
    transition: 0.3s;
}

/* -- Settings Column -- */
.settings-column {
    font-family: "Inter", sans-serif, serif;
    /* flex-basis: 18rem; */
    background-color: #CCB6FA;
    width: 25%;
    height: 100%;
}

.settingsNavBar {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: none;
}

.settingsListItemContainer {
    padding: 1rem;
}

.got-rid-of-options-for-this {
    margin-top: 0.5rem;
}

.settings-menu-container {
    display: flex;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

.setting-menu {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.moodBoxFlex {
    display: flex;
    flex-direction: row;
}

#moodBox {
    width: 140px;
    height: 90px;
    border: 1px;
    border-style: solid;
    border-color: #333;
    margin: 0.4rem;
    /* fill: white; */
}

.moodBoxText {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
}

.yourMoodIs {
    font-weight: normal;
    margin: 0;
}

.theMood {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
}

.settings-link:hover {
    transition: 0.1s ease-in;
    font-weight: 700;
    color: rgb(51, 51, 51);
}

hr.settings-line {
    margin: 0.5rem 0;
    color:black;
    /* change color w opcity not color */
    opacity: 70%;
    border-top: 3px solid;
}

.settings-link {
    color: black;
    text-decoration-line: none;
}

/* i think this is for choose journal */
.but{
    background-color: transparent;
    outline: none;
}

#input-font {
    color: #3A3B4D;
    background-color: rgb(255, 236, 239);
    border-radius: 2;
    border-width: 1px;
    border: none;
}

